<ion-header [translucent]="false">
  <ion-row>
    <ion-col size="1">
      <h1 class="boton-volver">
        <ion-icon name="arrow-back-outline" (click)="volver()"></ion-icon>
      </h1>

    </ion-col>

    <ion-col size="10">
      <div class="content-center">

        <h1 class="ion-text-center">Crear viaje </h1>
      </div>
    </ion-col>
    <ion-col size="1">

    </ion-col>
  </ion-row>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input type="text" [(ngModel)]="origen"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ng-container *ngIf="destino_conductor !== ''; else noDestino">
        <ion-col size="5">
          <ion-item>
            <ion-label position="floating">Destino</ion-label>
            <ion-input [disabled]="true" type="text" [(ngModel)]="destino_conductor"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-button expand="full" color="primary" (click)="seleccionarDestino()">
            <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ng-container>

      <ng-template #noDestino>
        <ion-col size="12">
          <ion-button expand="full" color="primary" (click)="seleccionarDestino()">
            <ion-icon name="location-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ng-template>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Valor por persona</ion-label>
          <ion-input type="number" [(ngModel)]="valor"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-checkbox [(ngModel)]=usarVehiculoPrincipal>Deseo utilizar mi vehiculo principal</ion-checkbox>
          <ion-input type="hidden" [(ngModel)]="vehiculoSeleccionado"></ion-input>

        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!usarVehiculoPrincipal">
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Vehiculo</ion-label>
          <ion-select [(ngModel)]="vehiculoSeleccionado" name="vehiculoSeleccionado">
            <ion-select-option *ngFor="let vehiculo of listaVehiculos" [value]="(vehiculo.vehiculo.id)">
              {{vehiculo.vehiculo.patente}} ({{vehiculo.vehiculo.marca_vehiculo.descripcion}}
              {{vehiculo.vehiculo.modelo}})

            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="publicarViaje()">Crear viaje</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>