.titulo-propiedad {
    font-weight: bold;
    font-weight: bolder;
}

.fecha-viaje {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #888;
    /* Puedes ajustar el color a tu elección */
}